SPRING_DATASOURCE_PASSWORD=m0b!le-n0t!f!cat!on
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/mobile-notification
SPRING_DATASOURCE_USERNAME=mobile-notification
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SPRING_KAFKA_CONSUMER_GROUP_ID=mobile-notification